[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "marray"]
	path = external/marray
	url = https://github.com/bjoern-andres/marray.git
