---
name: build

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            submodules: 'recursive'

      # this will set the system compiler;
      # I don't know how to set the conda compilers for windows
      # This must be done *before* setting up miniconda, see:
      # https://github.com/ilammy/msvc-dev-cmd/issues/34
      - name: Set windows env
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1
      
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: .github/workflows/environment.yaml

      - name: Build unix
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        shell: bash -l {0}
        run: .github/workflows/build_unix.sh
      
      - name: Build win
        if: matrix.os == 'windows-latest'
        shell: bash -l {0}
        run: .github/workflows/build_win.bat

      - name: Run tests
        shell: bash -l {0}
        run: python -m unittest discover -s src/python/test -v
